<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DeepFrees.WebPro</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/32/home-page.png" alt="home-page" />
                </span> &nbsp; &nbsp; Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/32/dashboard.png" alt="dashboard" />
                </span> &nbsp; &nbsp; Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Employees">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/32/manager.png" alt="manager" />
                </span> &nbsp; &nbsp; Employees
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Technicians">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/32/workers-male.png" alt="workers-male" />
                </span> &nbsp; &nbsp; Employees
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Taskboard">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/48/list.png" alt="list" />
                </span> &nbsp; &nbsp; Tasks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Jobs">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/32/overtime--v1.png" alt="overtime--v1" />
                </span> &nbsp; &nbsp; Jobs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Delivery">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/32/transit-on-map.png" alt="transit-on-map" />
                </span> &nbsp; &nbsp; Routes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="IRM">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/32/maintenance--v1.png" alt="maintenance--v1" />
                </span> &nbsp; &nbsp; IRM
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Schedules">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/32/tasks--v1.png" alt="tasks--v1" />
                </span> &nbsp; &nbsp; Schedules
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Payroll">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/48/pay-date.png" alt="pay-date" />
                </span> &nbsp; &nbsp; Payroll
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CMS">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/48/cms.png" alt="cms" />
                </span> &nbsp; &nbsp; CMS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Dashboards/PayrollJobs">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/32/user-folder--v2.png" alt="user-folder--v2" />
                </span> &nbsp; &nbsp; User Accounts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Preferences">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/32/sorting-options.png" alt="sorting-options" />
                </span> &nbsp; &nbsp; Preferences
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Settings">
                <span aria-hidden="true">
                    <img width="32" height="32" src="https://img.icons8.com/fluency/32/settings.png" alt="settings" />
                </span> &nbsp; &nbsp; Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
