@page "/ViewEmployee"

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="toolbar">
    <a href="/CreateEmployee">Add <i class="fa fa-refresh" aria-hidden="true"></i></a>
    <a href="/EmployeeWTV">Download <i class="fa fa-download" aria-hidden="true"></i></a>
    <a href="/EmployeeWTV">Save <i class="fa fa-floppy-o" aria-hidden="true"></i></a>
</div>

<EmployeeViewTable/>

@code {

}
