@page "/CreateEmployee"

<h3>Create a New Employee</h3>


<p>Please Provide the necessary information</p>

<form>
    <div class="form-group">
        <label for="retypename">Re-type Username for security</label>
        <input type="text" class="form-control" id="retypename" placeholder="Username">
    </div>
    <br />
    <button type="button" class="btn btn-danger">Delete</button>
    <button type="button" class="btn btn-secondary">Cancel</button>
</form>


@code {

}
