@page "/Delivery/ManageLocation"

<PageTitle>Edit Location</PageTitle>

<div class="jumbotron">
    <h1 class="display-4"><a href="/Delivery"><img width="44" height="44" src="https://img.icons8.com/metro/44/000000/circled-left-2.png" alt="circled-left-2" /></a>&nbsp; Routes and Delivery Managemenet</h1>
    <p class="lead">Add New Location</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-dark btn-lg" href="#" role="button">Add Locations</a>
        <a class="btn btn-dark btn-lg" href="#" role="button">Manage Locations</a>
        <a class="btn btn-dark btn-lg" href="#" role="button">Create New Route</a>
        <a class="btn btn-dark btn-lg" href="#" role="button">Other Tools</a>
    </p>
</div>

<br />
<br />

<form>
    <div class="form-group">
        <label for="City">City</label>
        <input type="text" class="form-control" id="City" placeholder="Enter City/Building/Other Location">
    </div>
    <button type="submit" class="btn btn-primary">Update Location</button>
</form>

@code {

}
