@page "/Delivery/ManageLocation"
@using DeepFrees.WebPro.Model;
@using DeepFrees.WebPro.Services;

@inject VRoutingStream VRoutingStream

<PageTitle>Edit Location</PageTitle>

<div class="jumbotron">
    <h1 class="display-4"><a href="/Delivery"><img width="44" height="44" src="https://img.icons8.com/metro/44/000000/circled-left-2.png" alt="circled-left-2" /></a>&nbsp; Routes and Delivery Managemenet</h1>
    <p class="lead">Add New Location</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-dark btn-lg" href="/Delivery" role="button">Routes</a>
        <a class="btn btn-dark btn-lg" href="/Delivery/AddLocation" role="button">Add Locations</a>
        <a class="btn btn-dark btn-lg" href="/Delivery/DistanceSheet" role="button">Check Distance Between Locations</a>
        <a class="btn btn-dark btn-lg" href="/Delivery/CreateRoute" role="button">Create New Route</a>
        <a class="btn btn-dark btn-lg" href="/Delivery/ManageLocation" role="button">Edit Locations</a>
        <a class="btn btn-dark btn-lg" href="/Delivery/EditDistances" role="button">Edit Distance</a>
    </p>
</div>

<br />
<br />


@if (Locations == null)
{
    <p><em>Loading...</em></p>
}
else
{
        <div class="form-group">
            <label for="selectCity1">Select City 1</label>
            <select class="form-control" id="selectCity1" @bind="selectedCity1">
                @foreach (var city in Locations)
                {
                    <option value="@city.locationID">@city.city</option>
                }
            </select>
        </div>
}

    <button @onclick="DeleteLoc" type="submit" class="btn btn-primary">Delete Location</button>

@code {
    private int selectedCity1 { get; set; }
    private List<Location>? Locations = new();

    protected override async Task OnInitializedAsync()
    {
        Locations = await VRoutingStream.GetAllLocations();
    }

    protected async void DeleteLoc()
    {
        await VRoutingStream.DeleteLocation(selectedCity1);
    }

}
