@page "/CallViewer"

@using DeepFreez.WebApp.Pages.CallCenterView.MicroComponents

<h3>Live Call</h3>

<div class="toolbar">
    <a href="/CreateEmployee">Assign <i class="fa fa-refresh" aria-hidden="true"></i></a>
</div>

<CallListView />

@code {

}
