@page "/"
<PageTitle>Index</PageTitle>

<div class="jumbotron">
    <h1 class="display-4">Welcome to DeepFrees</h1>
    <p class="lead">Deepfrees is a leading Air Condition Solutions provider</p>
    <hr class="my-4">
    <p>DeepFrees HRMS | contact admin for guidance</p>
    <p class="lead">
@*        <a class="btn btn-primary btn-lg" href="/Dashboard" role="button">View Stats</a>*@
    </p>
</div>

<br />
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" width="100" height="100" style="object-fit: contain;" src="https://img.icons8.com/fluency/100/checked-identification-documents.png" alt="checked-identification-documents" />
                <div class="card-body">
                    <h5 class="card-title">Employee</h5>
                    <p class="card-text">DeepFreez Human Resources System Employee Management tools can boost HRMS capabilities with extensive storage of Employee information</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">New Employee</li>
                    <li class="list-group-item">All Employees</li>
                    <li class="list-group-item">Payroll</li>
                </ul>
                <div class="card-body" style="background-color: #2b3a67;">
                    <a href="#" class="card-link">Employee Portal</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" width="100" height="100" style="object-fit: contain;" src="https://img.icons8.com/fluency/100/financial-changes.png" alt="financial-changes" />
                <div class="card-body">
                    <h5 class="card-title">Routing And Delivery</h5>
                    <p class="card-text">With the aid of Google® ORTools, Optimized Delivery routes can be discovered with the help of Constrain solvers built in with ORTools.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Locations</li>
                    <li class="list-group-item">Inter Location Distance</li>
                    <li class="list-group-item">Routes</li>
                </ul>
                <div class="card-body" style="background-color: #2b3a67;">
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" width="100" height="100" style="object-fit: contain;" src="https://img.icons8.com/fluency/100/tails.png" alt="tails" />
                <div class="card-body">
                    <h5 class="card-title">More</h5>
                    <p class="card-text">DeepFrees Human Resources System is equiped with Latest Features. Contact us for more information and learn about the operations of the system</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dashboard</li>
                    <li class="list-group-item">Index</li>
                    <li class="list-group-item">About</li>
                </ul>
                <div class="card-body" style="background-color: #2b3a67;">
                    <a href="#" class="card-link">Delivery Portal</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" width="100" height="100" style="object-fit: contain;" src="https://img.icons8.com/fluency/100/realtime-protection.png" alt="realtime-protection" />
                <div class="card-body">
                    <h5 class="card-title">Schedulers</h5>
                    <p class="card-text">The New Deepfrees HRMS can Manage Employees and Contract Basis Technicians, Add and Assign Work with built in award winning Google® ORTools!</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Add Tasks</li>
                    <li class="list-group-item">Add Jobs</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body" style="background-color: #2b3a67;">
                    <a href="#" class="card-link">Work Scheduler</a>
                    <a href="#" class="card-link">Tech Tasks</a>
                </div>
            </div>
        </div>
    </div>
</div>