@page "/"

<PageTitle>Index</PageTitle>

<div class="jumbotron">
    <h1 class="display-4">Routes and Delivery Managemenet</h1>
    <p class="lead">To get started, Click on a Button</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-dark btn-lg" href="#" role="button">Add Locations</a>
        <a class="btn btn-dark btn-lg" href="#" role="button">Manage Locations</a>
        <a class="btn btn-dark btn-lg" href="#" role="button">Create New Route</a>
        <a class="btn btn-dark btn-lg" href="#" role="button">Other Tools</a>
    </p>
</div>

<br />
<br />

<h2>Welcome to DeepFrees</h2>
